<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature android:name="android.hardware.camera" android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <permission android:name="pl.training.bestweather.ACCESS_USERS"/>

    <application
        android:name=".BestWeatherApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BestWeather"
        tools:targetApi="31">

        <!--
             Before you run your application, you need a Google Maps API key.

             To get one, follow the directions here:

                https://developers.google.com/maps/documentation/android-sdk/get-api-key

             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".

             cd C:\Users\username\.android\debug.keystore
             keytool -list -v -alias androiddebugkey -keystore debug.keystore (password: android)
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.BestWeather"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--<receiver android:name=".commons.components.AirplaneModeReceiver" android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.AIRPLANE_MODE"/>
            </intent-filter>
        </receiver>-->


        <!-- In extrnal app manifest:
        <uses-permission android:name="pl.training.bestweather.ACCESS_USERS"/>

        <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES"
            tools:ignore="QueryAllPackagesPermission" />

        <queries>
            <provider android:authorities="pl.training.bestweather.commons.component"/>
        </queries>
        -->

        <provider
            android:authorities="pl.training.bestweather.UsersProvider"
            android:name=".commons.components.UsersProvider"
            android:exported="true"
            android:enabled="true"
            android:multiprocess="true"
            android:readPermission="pl.training.bestweather.ACCESS_USERS" />

        <service android:name=".commons.components.ExampleService" android:enabled="true" android:foregroundServiceType="dataSync"/>

        <receiver android:name=".commons.components.Restarter" android:enabled="true" android:exported="true">
            <intent-filter>
                <action android:name="restart_example_service"/>
            </intent-filter>
        </receiver>

    </application>

</manifest>